<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


    <link rel="stylesheet" href="/css/login.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form action="" method="POST" class="box">
                        <h1>Change Password</h1>
                        <p class="text-muted">Change password for {{account.username}}</p>
                        <input type="password" placeholder="New password" name="password" id="password">
                        <input type="password" placeholder="Confirm password" name="confirmPassword" id="confirmPassword">
                        <button class="btn" type="submit">Change my password</button>
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i
                                            class="fab fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/js/validation.js"></script>
<script>
    Validator({
        errorSelector: '.error-message-box',
        form: '#register-form',
        formGroupSelector: '.input-group',
        rules: [
            Validator.minLength('#password', 6),
            Validator.isRequired('#confirmPassword'),
            Validator.isConfirmed('#confirmPassword', function () {
                return document.querySelector('#register-form #password').value;
            }, "Confirm password does not match!")
        ],
        onSubmit: function (data) {
            console.log(data);
        }
    });
</script>