<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Checkout</h2>
            </div>
        </div>
        <div class="mb-5 row justify-content-center">
            <form method="POST" id="checkoutForm" name="checkoutForm" class="checkoutForm row">
                <div class="col-lg-8 mb-4">
                    <div class="wrapper img" style="background-image: url(images/b5.jpg);">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4 text-white">Order details</h3>
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4 text-white">
                                        Thank you for buying.
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label text-white" for="name">Full Name</label>
                                                <input type="text" class="form-control checkout-form-control"
                                                    name="name" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label text-white" for="email">Email Address</label>
                                                <input type="email" class="form-control checkout-form-control "
                                                    name="email" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label text-white" for="email">Phone</label>
                                                <input type="text" class="form-control checkout-form-control"
                                                    name="phone" id="phone" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label text-white" for="email">Address</label>
                                                <input type="text" class="form-control checkout-form-control"
                                                    name="address" id="address" placeholder="Address">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Note</label>
                                                <textarea name="message" class="form-control checkout-form-control"
                                                    id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-inner">
                        <div class="checkout-summary">
                            <h3>Cart details</h3>
                            {{#each cartProductsDetail}}
                            <div class="summary-item">
                                <div class="summary-content">
                                    <label>Product Title</label>
                                    <p class="float-end">$59.00</p>
                                </div>
                            </div>
                            {{/each}}
                            <div class="summary-item">
                                <div class="summary-content d-flex justify-content-between">
                                    <label>Product Title</label>
                                    <p>$59.00</p>
                                </div>
                            </div>
                            <div class="summary-item">
                                <div class="summary-content d-flex justify-content-between">
                                    <label>Product Title</label>
                                    <p>$59.00</p>
                                </div>
                            </div>
                            <div class="summary-item">
                                <div class="summary-content d-flex justify-content-between">
                                    <label>Product Title</label>
                                    <p>$59.00</p>
                                </div>
                            </div>
                        </div>
                        <div id="checkout-payment" class="checkout-payment">
                            <div class="payment-methods">
                                <h3>Payment Method</h3>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-1"
                                            name="payment" />
                                        <label class="custom-control-label" for="payment-1">COD</label>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-2"
                                            name="payment" />
                                        <label class="custom-control-label" for="payment-2">Paypal</label>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-3"
                                            name="payment" />
                                        <label class="custom-control-label" for="payment-3">Direct bank transfer</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout-btn">
                        <button type="submit" class="submit-checkout btn btn-primary">Done</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>