/* .checkout-summary,
.checkout-payment {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(243, 238, 226);
}

.checkout-form-control {
    width: 100%;
} */

.green {
    color: rgb(15, 207, 143);
    font-weight: 680
}

.form-group.invalid .error-message-box {
    color: white;
    font-size: 12px;
}

@media(max-width:567px) {
    .mobile {
        padding-top: 40px
    }
}