
<div class="user-rate">
    <div class="user-info">
        <div class="user-avt">
            <img src="/images/t3.jpg" alt="">
        </div>
        <div class="user-name">
            <span class="name">{{username}}</span>
        </div>
    </div>
    <div class="user-rate-content">
       {{feedback}}
    </div>
</div>
